<!-- views/partials/header.ejs -->

<nav class="navbar navbar-light navbar-expand-sm bg-light" role="navigation">
    <a class="navbar-brand" href="/">
        Stream Queue
    </a>
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Rooms</a>
        </li>
        <% if(isQueuer || isUploader) { %>
        <li class="nav-item">
            <a class="nav-link" href="/files">Files</a>
        </li>
        <% } %>
    </ul>
    <ul class="navbar-nav ml-auto">
        <% if(isAdmin) { %>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Panel</a>
        </li>
        <% } %>
        <% if(isLoggedIn) { %>
        <li class="nav-item">
            <a class="nav-link" href="/room/<%- username %>">My Room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
    </ul>
</nav>