<!-- views/pages/admin.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="input-group">
        <p>An uploader can upload videos to the server.</p>
        <p>A queuer can queue videos from the available videos on the server.</p>
        <p>Admins can do everything an uploader and a queuer can, plus access the admin panel (this page).</p>
        <% users.forEach(function(user) { %>
        <form class="form-inline" action="/admin/roles/<%- user.username %>" method="post">
            <div class="input-group-prepend">
                <input class="input-group-text" name="username" value="<%- user.username %>" readonly>
            </div>
            <div class="input-group-text">Admin 
                <input type="checkbox" name="is_admin" <%- user.is_admin === 1 ? 'checked' : ''%>>
            </div>
            <div class="input-group-text">Uploader 
                <input type="checkbox" name="is_uploader" <%- user.is_uploader === 1 ? 'checked' : ''%>>
            </div>
            <div class="input-group-text">Queuer 
                <input type="checkbox" name="is_queuer" <%- user.is_queuer === 1 ? 'checked' : ''%>>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <% }) %>
    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>