<!-- views/pages/files.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Files</h1>
        <% if(isUploader) { %>
        Upload video file
        <form enctype="multipart/form-data" action="/upload" onsubmit="uploadVideo()" method="post">
            <input class="form-control-file" name="videoFile" type="file" />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <% } %>
        <% if(isQueuer) { %>
        <div class="dropdown">
            <button id="queueToRoom" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Room to queue to</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" type="button" onclick="changeRoomToQueueTo('<%- username %>')">Your room</button>
                <div class="dropdown-divider"></div>
                <% rooms.forEach(function(room) { %>
                <button class="dropdown-item" type="button" onclick="changeRoomToQueueTo('<%- room.username %>')"><%= room.username %></button>
                <% }) %>
            </div>
        </div>
        <form onsubmit="queueYoutubeUrl()">
            <div class="form-group">
                <label for="youtubeUrl">YouTube URL</label>
                <input type="text" class="form-control" id="youtubeUrl" placeholder="Enter YouTube URL">
            </div>
            <button type="submit" class="btn btn-primary">Queue YouTube video</button>
        </form>
        <% directoryList.forEach(function(directory) { %>
            <p>
                <a href="" onclick='gotoDirectory("<%= directory %>")'><%= directory %></a>
            </p>
        <% }) %>
        <% fileList.forEach(function(file) { %>
            <p>
                <a href="" onclick='queueFile("<%= file %>")'><%= file %></a>
            </p>
        <% }) %>
        <% } %>
    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
