<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>Rooms with queued videos</h1>
        <% rooms.forEach(function(room) { %>
        <a href="/room/<%- room.username %>"><%= room.username %>'s room</a>
        </br>
        <% }) %>
    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>