<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <form action="/login" method="post">
        <div class="form-group row">
            <label for="username">Username</label>
            <% if(error) { %>
            <input type="text" class="form-control is-invalid" name="username" id="username" required>
            <div class="invalid-feedback">
                <%- error %>
            </div>
            <% } else { %>
            <input type="text" class="form-control" name="username" id="username" required>
            <% } %>
        </div>
        <div class="form-group row">
            <label for="password">Password</label>
            <% if(error) { %>
            <input type="password" class="form-control is-invalid" name="password" id="password" required>
            <div class="invalid-feedback">
                <%- error %>
            </div>
            <% } else { %>
            <input type="password" class="form-control" name="password" id="password" required>
            <% } %>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
