<!-- views/pages/noauth.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <p>You are not authorized to <%- unauthorizedAction %></p>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>