<!-- views/pages/register.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <form action="/register" method="post">
        <div class="form-group row">
            <label for="username">Username</label>
            <% if(invalidUsername) { %>
                <input type="text" class="form-control is-invalid" name="username" id="username" required>
                <div class="invalid-feedback">
                    Username is already taken
                </div>
            <% } else { %>
                <input type="text" class="form-control" name="username" id="username" required>
            <% } %>
        </div>
        <div class="form-group row">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="form-group row">
            <label for="confirmPassword">Confirm password</label>
            <% if(mismatchedPasswords) { %>
                <input type="password" class="form-control is-invalid" name="confirmPassword" id="confirmPassword" required>
                <div class="invalid-feedback">
                    Password must be at least 8 characters and confirm password must match
                </div>
            <% } else { %>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
            <% } %>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>