<!-- views/pages/room.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
    <script src="/videojs-http-source-selector.min.js"></script>
    <script src="/videojs-contrib-quality-levels.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/subtitles-octopus.js"></script>
    <script src="/room.js"></script>
    <link rel="stylesheet" href="/room.css">
</head>
<body>

<main>
    <% if(userExists) { %>
        <div id="video-container">
            <video
                id="room-video"
                class="video-js vjs-fill"
                controls
                preload="none"
            >
            </video>
            <i id="toggle-subs" class="fas fa-closed-captioning fa-2x" onclick="toggleSubs()"></i>
            <i id="toggle-queue" class="fas fa-bars fa-2x" data-toggle="modal" data-target="#queue-modal"></i>
            <i id="toggle-chat" class="fas fa-comments fa-2x" onclick="toggleChat()"></i>
        </div>

        <div id="chat-container" style="display: flex; flex-direction: column;">
            <div id="users-list-container">
                <i id="users-list" class="fas fa-user" data-toggle="tooltip" data-placement="bottom" title=""></i>
                <p id="users-count" style="display: inline; padding-right: 5px">Users: 0</p>
            </div>
            <ul id="chat-messages">
            </ul>
            <textarea id="chat-input" class="form-control" type="text" autocomplete="off" placeholder="Enter chat message" rows="3" onkeypress="enterChatMessage(event)"></textarea>
        </div>

        <div class="modal fade" id="queue-modal" tabindex="-1" role="dialog" aria-labelledby="queue-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="queue-modal-label">Queue</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label id="current-time">Current video time: <%- runningVideoTime %></label>
                        <input id="time" type="range" class="custom-range" min="0" max="0" disabled />
                        <% if(isQueuer) { %>
                        <label id="set-time">Set video time to: </label>
                        <input id="set-time-slider" type="range" class="custom-range" min="0" max="0" oninput="document.getElementById('set-time').innerHTML = 'Set video time to: '+convertToTimeString(this.value)" />
                        <br />
                        <button class="btn btn-primary" onclick="playVideoAtTime(window.location.pathname.substr(6), document.getElementById('set-time-slider').value)">Reset at time</button>
                        <button class="btn btn-primary" onclick="skipVideo(window.location.pathname.substr(6))">Skip video</button>
                        <% } %>
                        <h1>Queue</h1>
                        <button class="btn btn-primary">Add video to queue</button>
                        <div id="queued-videos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="queue-modal" tabindex="-1" role="dialog" aria-labelledby="files-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="files-modal-label">Files</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="jumbotron">
            <p>Room does not exist</p>
        </div>
    <% } %>
</main>

</body>
</html>