<!-- views/pages/settings.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
    <form action="/settings" method="post">
        <div class="form-group row">
            <label for="streamUrl">Stream key URL</label>
            <input type="text" class="form-control" name="streamUrl" id="streamUrl" value="<%- streamUrl %>" required>
        </div>
        <div class="form-group row">
            <label for="streamLink">Link to your stream page</label>
            <input type="text" class="form-control" name="streamLink" id="streamLink" value="<%- streamLink %>" required>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>